.wrapper {
    max-width: 190vh;
    margin: auto;
    .header {
        margin-top: 2rem;
        width: 100%;
        padding: 10px;
        .header__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .container {
                align-items: inherit;
                display: flex;
                gap: 10px;
                .pagination {
                    display: flex;
                    align-items: inherit;
                    gap: inherit;
                    transition: 0.3s;
                      
                    .pagination__text {

                    }
                    .pagination__selector {
                        width: 100%;
                        min-width: 65px;
                        border: none;
                        border-radius: 0.25em;
                        padding: 0.25em 0.5em;
                        font-size: 1.1rem;
                        cursor: pointer;
                        line-height: 1.1;
                        background-color: #fff;
        
                         option[value="1"] {
                             background: rgba(100, 100, 100, 0.3);
                           }
                           
                           option[value="2"] {
                             background: rgba(150, 150, 150, 0.3);
                           }
                           
                           option[value="3"] {
                             background: rgba(200, 200, 200, 0.3);
                           }
                           
                          option[value="4"] {
                             background: rgba(250, 250, 250, 0.3);
                           }
                           
                           option:checked {
                            color: white;
                            background: #000;
                           }
                    }
                }
                .download-buttons {
                    display: flex;
                    gap: inherit;
                    .download-buttons__item {
                        display: flex;
                        border: 2px solid #000;
                        border-radius: 5px;
                        gap: 3px;
                        padding: 0 5px;
                        cursor: pointer;
                        .download-buttons__item-svg {
                            padding: 0;
                            align-items: center;
                            width: 16px;
                        }
                        .download-buttons__item-text {
                            text-align: center;
                            margin: 4px 6px;
                        }
                        &:hover{
                            transition: 0.3s;
                            background: rgb(143, 143, 143);
                            color: white;
                            box-shadow: rgb(199, 199, 199) 6px 8px;
                        }
                        &:active {
                            background: green;
                            box-shadow: rgb(114, 114, 114) 2px 4px;
                        }
                    }
                }
            }
            .search-form {
                cursor: pointer;
                padding: 15px 5px 15px 45px;
                :hover {
                    .input {
                        border-bottom: 2px solid rgb(92, 85, 218);
                    }
                    .search-form__info {
                        color:rgb(92, 85, 218) ;
                    }
                }
                .input {
                    width: 80%;
                    margin-right: 20px;
                    color: rgba(255, 255, 255, 0.3);
                    cursor: pointer;
                    padding: 5px;
                    border: none;
                    border-bottom: 2px solid #000 ;
                    outline: none;
                    transition: 0.3s;
                    &:hover {
                        border-bottom: 2px solid rgb(92, 85, 218);
                    }
                    &:focus {
                        border-bottom: 2px solid rgb(92, 85, 218);
                        &::placeholder {
                            color: rgb(92, 85, 218);
                        }
                    }
                    &::placeholder {
                        transition: 0.3s;

                        color: rgb(136, 134, 134);
                        text-align: right;
                    }
                }
                .input.isActive {
                    color: #000;
                }
                .search-form__info {
                    position: absolute;
                    top: 45px;
                    color: gray;
                    cursor: pointer;
                    font-size: 14px;
                    padding-left: 10px;
                    transition: 0.3s;
                    &:hover {
                        color: rgb(92, 85, 218);
                    }
                }
                :focus-within {
                        .search-form__info {
                            font-size: 12px;
                            top: 30px;
                            color: rgb(92, 85, 218);
                        }
                   }
            }
            .search-form:hover {
                .input {
                    border-bottom: 2px solid rgb(92, 85, 218);
                    &::placeholder {
                        transition: 0.3s;
                        color: rgb(92, 85, 218);
                        font-size: 1.1rem;
                    }
                }
                .search-form__info {
                    color:rgb(92, 85, 218) ;
                }
            }
    
        }
    }
}