.table {
    table-layout: auto;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0 0;
    th.active-column {
        color: gold;
    }
    tr.hidden-row {
        display: none;
    }
    tr.active-line {
        transition: 0.1s;
        &:hover {
            color: rgb(255, 255, 255);
            background-color: rgba(55, 80, 61, 0.55);
        }
    }
    th.row:hover{
        cursor: pointer;
        transition: 0.3s;
        color: green;
       
        &:active {
            transform: rotate(90deg);
        }

    }
    thead tr {
        color: white;
        background-color: #000;
        cursor: pointer;
        th.active-column {
            color: gold;
        }
    }
    th,tr {
        transition: 0.3s;
        font-size: 12px;
        line-height: 40px;
        padding: 2px 30px;
    }
 
    .tr_gray{
    background-color: #f7f7f7;
    }
    
    tbody tr.filtered-column{
         
            display: none;
            background: #000;
        
    }
    .thead-row{
        transition: 0.3s;
        :hover{
            transition: 0.3s;
            background: rgb(143, 143, 143);
        }
        :active {
            background: rgba(0, 128, 0, 0.626);
        }
    }

}